body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #5D87DF, #0B0C63);
    height: 87vh;
    margin: 0;
    padding: 0;
}
#adminPage {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #5fdf5d, #055814);
    height: 87vh;
    margin: 0;
    padding: 0;
}
#userPage {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f9e760, #ac1a0d);
    height: 87vh;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 350px;
    margin: 100px auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.link {
    text-align: center;
    margin-top: 15px;
}